.action {
  margin-top: 20%;
}

.col-action {
  height: 60px;
}

.bg {
  background: url('../img/bg.jpg') no-repeat center;
  background-attachment: fixed
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;

}

.btn-action {
  background-color: #f67d42;
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 100%;
  width: 45%;
  transition: all 0.5s;
}

.btn-action:hover {
  color: #f67d42;
  background-color: #fff;
}

.main-navigation {
  height: 50px;
}

.logo {
  color: #f67d42 !important;
  font-size: 1em;
}

.logo span{
  text-transform: uppercase;
  color: #000;
  font-size: 1.3em;
}

.message {
  margin-top: 15%;
}

.parallax {
  background-size: cover;
  display: block;
  position: relative;
  width: 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px
}

.slide {
  height: 667px;
}

.slogan {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2em;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.slogan span {
  font-weight: bold;
}

#what-is-it {
  background-image: url('../img/hackerspace.jpg');
}

#opening {
  background-image: url('../img/opening.jpg');
}

#getting-involved {
  background-image: url('../img/involved.jpg');
}
